.link {
    text-decoration: none;
}
.list {
    list-style-type: none;
}
button {
    cursor: pointer;
}
body {
font-family: 'Roboto', sans-serif;
background-color: #ffffff;
color: #434455;
}
.logo {
    color: #4D5AE5;
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        /* 116.667% */
        letter-spacing: 0.03em;
        text-transform: uppercase;
}
.logo-span {
    color: #2E2F42;
}
.menu-link {
        /* Body Medium */
        color: #2E2F42;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.02em;
}
.menu-link:hover, 
.menu-link:focus, .menu-adress-link:hover, .menu-adress-link:focus {
    color: #404bbf;
}
.main-adress {
    font-style: normal;
}
.menu-adress-link {
        /* Body */
        color: #434455;
        font-size: 16px;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.02em;
}
.for-business {
    background-color: #2E2F42;
}
.title {
        text-align: center;
        /* Header 1 */
        font-size: 56px;
        line-height: 1.07;
        /* 107.143% */
        letter-spacing: 0.02em;
        color: #FFF;
}
.button {
        color: #FFF;
            /* Button Text */
            background-color: #4D5AE5;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            /* 150% */
            letter-spacing: 0.04em;
}
.button:hover, .button:focus {
    background-color: #404BBF;
}
.advantages-title {
    color: #2E2F42;
        /* Header 3 */
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        /* 120% */
        letter-spacing: 0.02em;
}
.benefits-text {
        /* Body */
        font-size: 16px;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.02em;
}
.our-team {
    background-color: #F4F4FD;
}
.our-team-title {
    color: #2E2F42;
        text-align: center;
        /* Header 2 */
        font-size: 36px;
        line-height: 1.11;
        /* 111.111% */
        letter-spacing: 0.02em;
        text-transform: capitalize;
}
.our-team-item {
    background-color: #FFF;
}
.our-team-item-title {
    color: #2E2F42;
        text-align: center;
        /* Header 3 */
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        /* 120% */
        letter-spacing: 0.02em;
}
.our-team-text {
        text-align: center;
        /* Body */
        font-size: 16px;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.02em;
}
.our-portfolio-title {
    color: #2E2F42;
        text-align: center;
        /* Header 2 */
        font-size: 36px;
        line-height: 1.11;
        /* 111.111% */
        letter-spacing: 0.02em;
        text-transform: capitalize;
}
.our-portfolio-item-title {
    color: #2E2F42;
        /* Header 3 */
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        /* 120% */
        letter-spacing: 0.02em;
}
.our-portfolio-text {
        /* Body */
        font-size: 16px;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.02em;
}
.footer {
    background-color: #2E2F42;
}
.logo-footer {
    color: #4D5AE5;
        font-family: "Raleway",
            sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        /* 116.667% */
        letter-spacing: 0.03em;
        text-transform: uppercase;
}
.logo-span-footer {
    color: #F4F4FD;
}
.footer-text {
    color: #F4F4FD;
        /* Body */
        font-size: 16px;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.02em;
}